@import 'client/templates/timeline/timeline.import'

.timeline
  // Charts customization
  .ct-chart .ct-point
    stroke-width 5px
  // Chart legend
  .chart-legend
    font-size .8em
    font-weight lighter
    &.color0
      color color0
      &:before
        background-color color0
    &.color1
      color color1
      &:before
        background-color color1
    &.color2
      color color2
      &:before
        background-color color2
    &.color3
      color color3
      &:before
        background-color color3
    &:before
      content ''
      display inline-block
      width 1em
      height 1em
      border-radius 1em
      text-align center
      margin-right .5em
      padding 0
  .chart-fixed-height
    height 158px
    margin-top -1em
    margin-bottom 1em
  // Chart's tooltips
  .tooltip
    border 3px color2 solid
    background-color color3
    border-radius 5px
    color color1
    font-size 0.7em
    font-weight bold
    height auto
    min-width 80px
    max-width 250px
    padding 4px
    position relative
    text-align center
    width auto
    pointer-events none
    z-index 1
  .tooltip:after, .tooltip:before
    top 100%
    left 50%
    border solid transparent
    content ' '
    height 0
    width 0
    position absolute
    pointer-events none
  .tooltip:after
    border-color transparent
    border-top-color color3
    border-width 15px
    margin-left -15px
  .tooltip:before
    border-color transparent
    border-top-color color2
    border-width 20px
    margin-left -20px
