@import 'client/templates/timeline/*.import'

.timeline
  // Action bucket
  .action-bucket
    transition transform defaultAnimation
  .action-bucket-displayed
    size 939px 300px
    transform translateY(-300px)
    max-height @height
    @media (min-width: 1200px)
      width 1139px
    position absolute
  .action-bucket-heading
    height headingHeight
    cursor pointer
  .action-bucket-arrow
    width 72px
    height headingHeight
    line-height @height
    text-align center
    margin-top -10px
    margin-right -15px
    color white
    background-color color2
  .action-bucket-selector
    padding .5em
  .action-bucket-content
    button:focus
      outline none
    padding 0
    .action-bucket-table
      height 249px
      max-height @height
      overflow-x hidden
      overflow-y auto
      tbody
        font-size .8em
        tr[data-role='draggable-action-bucket']
          cursor -webkit-grab
          cursor grab
        tr:nth-child(2n+1)
          background-color white
        tr:nth-child(2n)
          background-color color3
  .action-bucket-footer-displayed
    height 60px
