@import 'nib'
@import 'client/stylesheets/colors.import.styl'

headingHeight = 42px
rondFontSize = 22px
roundIconSize = 1.5 * rondFontSize

.timeline
  .timeline-header
    height headingHeight
  .timeline-filter
    background-color colorC
    width 180px
    height headingHeight
    margin-top -10px
    margin-right -15px
    padding-top 8px
    color white
    display table
    .select2-container
      outline none
      cursor pointer
      width inherit
      .select2-choice, .select2-arrow, .select2-chosen, .select2-container-active
        box-shadow none
        border none
        color white
        background colorC
        b
          background none
          &:before
            font-family 'Glyphicons Halflings'
            content '\e138'
  .timeline-year-panel
    padding 0
    max-height 606px
    overflow-x hidden
    overflow-y auto
    border-bottom 3px colorC solid
  .timeline-year-table
    width 100%
    >tr:nth-child(even)
      background-color white
    >tr
      border-bottom 1px colorC solid
  td[data-role='dropable-container'].dropable
    transition background-color .3s ease-in-out
    background-color colorD
  .timeline-quarter-table
    width 100%
    >tr:not(:last-child)
      border-bottom 1px colorC dashed
    td:first-child
      width 1.6em
      vertical-align top
      h4.panel-inner-title
        width 1.4em
    td
      height 43px
      padding .1em
  .timeline-year
    padding .1em
    text-align center
    width 3.5em
    border-right 3px colorC solid
  .timeline-year, .appraisal-value
    color colorA
    font-weight bold
    font-size 1.4em
  .timeline-action-items
    // Set a hand as a cursor to denote draggable property
    cursor -webkit-grab
    cursor grab
    font-family 'foliom-picto'
    background-color colorA
    color white
    font-size rondFontSize
    width roundIconSize
    border-radius roundIconSize
    line-height roundIconSize
    text-align center
    height roundIconSize
    display inline-flex
    margin .2em
    padding-left .2em
    >span
      background-color colorC
      font-family OpenSans
      font-size .5em
      border-radius 1.5em
      width 2em
      height 1.5em
      line-height 1.5em
      left .4em
      display block
      position relative
    >span[data-value='1']
      display none
  .appraisal-value
    margin-bottom 0
  .appraisal-sep
    border-right 1px solid colorC
  .floating-eye
    height: 0
    margin-right 18px
    span
      height 18px
      cursor pointer
  // Action bucket
  .action-bucket
    transition transform .3s ease-in-out
  .action-bucket-displayed
    transform translateY(-300px)
  .action-bucket-heading
    height headingHeight
    cursor pointer
  .action-bucket-arrow
    width 72px
    height headingHeight
    line-height headingHeight
    text-align center
    margin-top -10px
    margin-right -15px
    color white
    background-color colorC
  .action-bucket-selector
    padding .5em
  .action-bucket-table
    height 300px
    padding 0
    tbody
      overflow auto
      font-size .8em
      tr[data-role='draggable-action-bucket']
        cursor -webkit-grab
        cursor grab
      tr:nth-child(2n+1)
        background-color white
      tr:nth-child(2n)
        background-color colorD
  .quarter-select
    &:before
      height 20px
    width 100px
    cursor pointer
    .quarter-content
      z-index 2
      height 20px
      background-color transparent
      margin-top -1px
      border none
      padding 1px
      font-size 14px
      line-height 18px
      text-align center
      position relative
    .quarter-modifier
      display none
      z-index 1
      padding 3px
      position relative
      font-size 16px
      width 190px
      height 34px
      border 1px colorD solid
      background-color white
      input
        border none
        width 60px
        border-right 1px colorD solid
  .quarter-select.quarter-selected
    width 190px
    .quarter-content
      background-color white
      border-top none
      border-left 1px colorD solid
      border-right 1px colorD solid
      border-bottom 1px colorD solid
    .quarter-modifier
      display inherit
