@import 'client/templates/timeline/timeline.import'

.timeline
  .d3-chart-fixed-height
    height 195px
  // Make SVG responsive
  .d3-svg-container
    display inline-block
    position relative
    width 100%
    padding-bottom 100%
    vertical-align middle
    overflow hidden
  .d3-svg-content
    display inline-block
    position absolute
    top 0
    left 0
  // Style SVG charts
  path
  	stroke-width 2px
  	fill none
  .x.axis, .y.axis
    text
      font-size 8px
      fill colorC
    line, .minor, path
      shape-rendering crispEdges
      stroke colorD
  .y.axis
    line
      stroke-dasharray 2px 2px
  .data0
    stroke colorA
    circle
      stroke colorA
      fill colorA
  .data1
    stroke colorB
    circle
      stroke colorB
      fill colorB
  .data2
    stroke colorC
    circle
      stroke colorC
      fill colorC
  .data3
    stroke colorD
    circle
      stroke colorD
      fill colorD
