@import 'client/templates/timeline/timeline.import'

.timeline
  .appraisal-value
    margin-bottom 0
  .appraisal-sep
    border-right 1px solid color2
  .floating-eye
    height: 0
    margin-right 18px
    span
      height 18px
      cursor pointer
