@import 'client/templates/timeline/timeline.import'
@import 'client/templates/timeline/D3LineChart.import'

// Set styles for Responsive D3charts contained within the timeline page
D3LineChart(timeline)

// Set specific styles that belongs to no other pages
.timeline
  .d3-chart-fixed-height
    height 190px
