.row(data-role=chartName)
  // Hide/show legend
  .clearfix.floating-eye: .pull-right: span.glyphicon.glyphicon-eye-close(data-trigger='hideshow-legend', data-value=chartName)
  // The chart
  .col-md-8(data-role='chart').chart-fixed-height: .ct-chart.ct-major-tenth(data-chart=chartName)
  // The legend
  .col-md-4(data-role='legend'): small
    each chartLegend
      .chart-legend(class=color)= name
