@import 'client/stylesheets/colors.import'
@import 'client/templates/timeline/timeline.import'

.timeline
  .timeline-header
    height headingHeight

  [data-role='energy-type']
    margin-left 15px
    button
      width 100px
      i
        pointer-events: none
      &[data-value='water']
        i
          color brandInfo
      &[data-value='kwh']
        i
          color #f0ad4e
