@import 'nib'
@import 'client/templates/timeline/*.import'

.timeline
  .quarter-content
    cursor pointer
    &:hover
      color black
      transition color defaultAnimation
  .date-selection
    cursor auto
    height initial
    absolute bottom 48px 0 left -36px
    user-select none
    border 2px solid color2
    border-radius 2px
    background-color color3
    width 360px
    padding 5px
    margin 0
    z-index 5
    box-shadow 0 3px 8px rgba(black, .3)
    .quarter-years
      display flex
      .quarter-selection
        width 90px
        margin 0 5px
        border-right 1px solid color2
        .quarters
          margin-left 10px
          display flex
          flex-direction column
          justify-content center
      .year-selection
        width 270px
        margin-left 3px
    .buttons
      margin 10px 0 5px 25px
      span
        margin-right 5px
        cursor pointer
        border-radius 1.2em
        width 4em
        height 1.2em
        line-height 1.2em
        text-align center
        transition background-color defaultAnimation, transform defaultAnimation
        &:hover
          background-color white
          transform scale(1.2)
    p
      font-weight bold
      color color1
      cursor default
    // Hide standard radio button
    [type="radio"]:not(:checked), [type="radio"]:checked
      absolute top 0 left -9999px
    [type="radio"]:not(:checked) + label, [type="radio"]:checked + label
      relative
      cursor pointer
      text-align center
      width 50px
    [type="radio"]:checked + label
      cursor default
      border-radius 3px
      background-color color0
      color white
      border-bottom none
      font-weight bold
      transition all defaultAnimation
    [type="radio"]:not(:checked) + label
      border-radius 3px
      background-color color3
      color color1
      border-bottom none
      font-weight normal
      transition background-color defaultAnimation, color defaultAnimation
      &:hover
        color black
        background-color color2
  // Little arrow triangle
  .date-selection:after, .date-selection:before
    border solid transparent
    content ' '
    size 0
    absolute top 100% left 70px
    pointer-events none
    border-color transparent
  .date-selection:after
    border-top-color color3
    border-width 10px
    margin-left -(@border-width)
  .date-selection:before
    border-top-color color2
    border-width 13px
    margin-left -(@border-width)
