.page.plan: .timeline.container
  // Scenario being displayed
  .row: .col-md-12: h1.page-title.animated.fadeInDown #{scenarioName}
  .row
    // Timeline table
    .col-md-4
      .animated.fadeInLeft
        +timelineTable
    // Appraisal, charts and available actions
    .col-md-8
      // Appraisal
      .row: .col-md-12
        .panel.panel-primary.animated.fadeInRight
          +timelineAppraisal
      // The charts
      .row: .col-md-12: .panel.panel-primary
        .panel-body.animated.fadeInRight
          // The consumption chart
          //+timelineChart chartName='consumptionChart'
          +timelineD3Chart chartName='consumptionChart'
          // The Expense chart
          +timelineChart chartName='expenseChart'
          // The Investment chart
          +timelineChart chartName='investmentChart'
  // Action bucket
  .row: .col-md-12
    .animated.fadeInUp
      +timelineBucket
