<template name="leaseForm">
  <div class="page observe">
    <div class="container">
        {{#unless session "leaseToEdit" }}
            <h2>{{_ "create_new_lease"}}</h2>
            <h4>{{_ "leasesToCreate"}} {{ session 'nbLeases_2create' }}</h4>
        {{/unless}}

        <br/>
        <div>
            <!-- {{> quickForm collection="Leases" fields="lease_name,rental_status,rent,last_significant_renovation" id="insertLeaseForm" template="eportfolio-horizontal" type="insert"}} -->
            {{> quickForm collection="Leases" id="insertLeaseForm" template="eportfolio-horizontal" doc=getLeaseToEdit type=getType}}
        </div>
    </div>
  </div>
</template>
