.DPEchart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: start;
}

#DPEchart1 rect {
  fill: rgb(101, 143, 101);
}

#DPEchart2 rect {
  fill: rgb(142, 96, 179);
}

#DPEchart1 {
    margin-left: 10px;
}

#DPEchart2 {
    float: right;
    margin-right: 10px;
}
