.observatory_barchart_tplt
  #observatory_barchart_container
    #barchartControls
      label
        input(type="checkbox" id="sortBarchartValues")
        | {{_ 'sort'}}
      select#barchartDisplaySelector
        option(value="dpe_energy_consuption" selected) {{_ "dpe_energy_consuption"}}
        option(value="dpe_co2_emission" selected) {{_ "dpe_co2_emission"}}
        option(value="construction_year") {{_ "construction_year"}}
        option(value="global_comfort_index") {{_ "global_comfort_index"}}
        option(value="tc_lifetime") {{_ "technical_compliance"}} - {{_ "lifetime"}}
        option(value="tc_conformity") {{_ "technical_compliance"}} - {{_ "conformity"}}
    #observatory_barchart

