.page.evaluate
  .container
    //- ul
    //-   each estates
    //-     li: a.update_estate(href='#', data-toggle='modal', data-target='#estateForm') {{estate_name}}
    //- button.btn.btn-primary.insert_estate(data-toggle='modal', data-target='#estateForm') {{_ 'new_estate'}}

    button.btn.btn-success.insert_estate(style='border:none !important;background-color:transparent;color:green;', data-toggle='modal', data-target='#estateForm')
      span.glyphicon.glyphicon-plus
    ul.list-group(style='width:400px;position:relative;')
      each estates
        li.list-group-item
          .update_estate(style='width:100%') {{estate_name}}
          +quickRemoveButton collection="Estates" _id=this._id beforeRemove=beforeRemove style="position:absolute;right:10px;top:10px;border:none !important;background-color:white;color:red;" class="btn btn-xs btn-danger"
            span.glyphicon.glyphicon-trash

    +estateForm
