.d3-svg-container
  svg.d3-svg-content#dpe-svg(preserveAspectRatio='xMinYMin meet')
  //- svg.svg-content#dpe-svg(preserveAspectRatio='xMinYMin meet')
  //- svg.svg-content#dpe-svg(preserveAspectRatio='xMinYMin meet', viewBox='0 0 100 100')
    //- path#dpe-path-A(d='M0 0v13.084h19.21l6.36-6.52L19.21 0H0z', fill='#555753')
    //- path#dpe-path-B(d='M0 14.486V27.57h29.683l6.354-6.518-6.354-6.566H0z', fill='#888a85')
    //- path#dpe-path-C(d='M0 28.972v13.084h40.403l6.353-6.52-6.353-6.564H0z', fill='#babdb6')
    //- path#dpe-path-D(d='M0 43.458v13.084h52.1l6.354-6.52-6.353-6.564H0z', fill='#d3d7cf')
    //- path#dpe-path-E(d='M0 57.944v13.084h62.504l6.353-6.52-6.353-6.564H0z', fill='#babdb6')
    //- path#dpe-path-F(d='M0 72.43v13.084h73.966l6.354-6.52-6.354-6.564H0z', fill='#888a85')
    //- path#dpe-path-G(d='M0 86.916V100h84.287l6.353-6.52-6.353-6.564H0z', fill='#555753')

