.page.plan: .timeline.container
  .row: .col-md-offset-4.col-md-8
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    p
      form.date-selection.animated(action='')
        .quarter-years
          .quarter-selection
            p {{_ 'quarter'}}
            .quarters
              each quarters
                input(type='radio', name='quarter', id='{{this}}')
                label(for='{{this}}')= this
          .year-selection
            p {{_ 'year'}}
            each years
              input(type='radio', name='year', id='{{this}}')
              label(for='{{this}}')= this
        .buttons
          span.validate.fa.fa-check.text-success
          span.cancel.fa.fa-close.text-danger
      .quarter-content
        i.fa.fa-calendar
        | Q3 2014
