@import 'client/templates/timeline/timeline.import.styl'

.timeline
  .date-selection
    user-select none
    box-sizing border-box
    border 3px solid colorC
    border-radius 5px
    background-color colorD
    display flex
    width 350px
    padding 3px
    margin 0
    p
      font-weight bold
      color colorB
    // Hide standard radio button
    [type="radio"]:not(:checked), [type="radio"]:checked
      position absolute
      left -9999px

    [type="radio"]:not(:checked) + label, [type="radio"]:checked + label
      position relative
      cursor pointer
      text-align center
      width 50px

    [type="radio"]:checked + label
      border-radius 3px
      background-color colorA
      color white
      border-bottom none
      font-weight bold
      transition all .3s ease-in-out

    [type="radio"]:not(:checked) + label
      border-radius 3px
      background-color colorD
      color colorB
      border-bottom none
      font-weight normal
      transition all .3s ease-in-out

    .quarter-selection
      width 90px
      margin 0 5px
      border-right 1px solid colorC
      form
        display flex
        flex-direction column
        justify-content center

    .year-selection
      width 260px
      margin-left 3px
