.page.plan: .timeline.container
  .row: .col-md-offset-4.col-md-8
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    p
    .date-selection
      .quarter-selection
        p {{_ 'quarter'}}
        form(action='')
          each quarters
            input(type='radio', name='quarter', id='{{this}}')
            label(for='{{this}}')= this
      .year-selection
        p {{_ 'year'}}
        form(action='')
          each years
            input(type='radio', name='year', id='{{this}}')
            label(for='{{this}}')= this
    .quarter-content
      i.fa.fa-calendar
      | Q3 2014
