@import 'nib'
@import 'client/stylesheets/*.import'

.actionList
  .fa
    color color1
  div span.fa-stack.fa-lg
    margin-bottom .5em
  .newActionFromMaster, .actionUserTemplate, .actionCreate
    float left
    text-align center
    size 100% 130px
    margin-bottom 1em
    background-color color0
    cursor pointer
    border-radius 2px
    border 1px solid darken(color0, 20%)
    padding 5px
    // So that we can position the Edit button
    transition background-color defaultAnimation
    position relative
    .logo
      font-family 'foliom-picto'
      font-size: 65px
      margin-bottom: -12px
    .actionTitle
      font-style italic
      font-size: 0.8em
    &:hover
      background-color darken(color0, 20%)

  .blackLink
    color color1

  .addUTactionLogo
    margin-top 25px

  .dropdownBtn
    absolute top 3px right 3px

  .actionUserTemplate
    border-color brandInfo

  .actionCreate
    border-color black

  .newActionBtn
    margin-top 1em
    a
      width 100%

  .actionStuff
    clear both
    margin-top 25px
    color color3
