<template name="observatory">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-5" style="border-radius">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{current_estate_name_H}}</h3>
                    </div>

                    <div class="panel-body">
                        {{#if isBuilding}}<a href="#" class="back2portfolios">Back to Portfolios list</a>{{/if}}

                        <div class="list-group">
                            {{#each current_item}}
                                <a href="#" class="list-group-item select_portfolio">
                                    {{displayName}} - {{_id}}

                                    {{#if isAdmin}}
                                        <div class="pull-right">
                                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                        </div>
                                    {{/if}}
                                </a>
                            {{/each}}
                        </div>

<!--                         <button type="button" data-toggle="modal" data-target="#portfolioForm" class="btn insert_portfolio">new portfolio</button>
                        {{>insertPortfolioForm}} -->

                        <!-- {{else}}
                            <ul class="list-group">
                                {{#each buildings_current}}
                                    <li class="list-group-item">
                                        {{name}}
                                    </li>
                                {{/each}}
                            </ul>

                            <button type="button" data-toggle="modal" data-target="#buildingForm" class="btn insert_building">new Building</button> -->

                    </div>

                </div>

                <small>
                    <div>[DEBUG] Liste complète pour vérif</div>
                    <ul>
                        {{#each estates}}
                            <li>
                                Estate: {{estate_name}} - id: {{_id}} <!-- - portfolios: {{portfolio_collection}} -->
                                <ul>
                                    {{#each portfolio_collection}}
                                        <li>Portfolio: {{this.valueOf}}</li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                    </ul>
                </small>


            </div>

            <div class="col-md-7">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">DataVizzzz</h3>
                    </div>
                    <div class="panel-body">
                        <p>MAP</p>
                    <p>BarChart</p>
                    </div>
                </div>

            </div>

        </div>
    </div>

</template>
