<template name="observatory">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-5" style="border-radius">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{current_estate_name_H}}</h3>
                    </div>

                    <div class="panel-body">

                        <!-- All Portfolios -->
                        <div id="portfolio_list">
                            <div class="list-group">
                                {{#each getPortfolioList}}
                                    <a href="#" class="list-group-item select_portfolio">
                                        {{name}} - {{_id}}

                                        {{#if isAdmin}}
                                            <div class="pull-right">
                                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                            </div>
                                        {{/if}}
                                    </a>
                                {{/each}}
                            </div>

                            <button type="button" data-toggle="modal" data-target="#portfolioForm" class="btn insert_portfolio">new portfolio</button>
                            {{>insertPortfolioForm}}
                        </div>

                        <!-- Buildings for current Portfolio -->
                        <div id="building_list" style="display: none;">
                            {{#if isBuilding}}<a href="#" class="back2portfolios">Back to Portfolios list</a>{{/if}}

                            <div class="list-group">
                                {{#each getBuildingList}}
                                    <a href="#" class="list-group-item select_building">
                                        {{building_name}} - {{_id}}

                                        {{#if isAdmin}}
                                            <div class="pull-right">
                                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                            </div>
                                        {{/if}}
                                    </a>
                                {{/each}}
                            </div>

                            <a class="btn btn-default insert_building" href="{{pathFor 'newBuilding'}}" role="button">new building</a>
                        </div>

                    </div>

                </div>

                <!-- <small>
                    <div>[DEBUG] Liste complète pour vérif</div>
                    <ul>
                        {{#each estates}}
                            <li>
                                Estate: {{estate_name}} - id: {{_id}}
                                <ul>
                                    {{#each portfolio_collection}}
                                        <li>Portfolio: {{this.valueOf}}</li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                    </ul>
                </small> -->


            </div>

            <div class="col-md-7">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">DataViz</h3>
                    </div>
                    <div class="panel-body">
                        <p>MAP</p>
                    <p>BarChart</p>

                    {{> treeTplt }}

                    </div>
                </div>

            </div>

        </div>
    </div>

</template>
