.page.plan.scenarioList: .container: .row
  .col-md-3.text-center: .animated.fadeInLeft
      div: span.fa.fa-gears.fa-5x
      h4 {{_ "schemaDir_create"}}
  .col-md-9
    .row: .animated.fadeInDown
      each getScenarios
        .col-md-4
          .scenarioItem
            a.editScenario(href='')
              img(src='/icon/actionIcons/iconmonstr-loading-14-icon-256.png', width='50')
              div= name
      .col-md-4
        #scenarioCreate.scenarioItem
          a.newScenario(href='')
            div: span.fa-stack.fa-lg
              i.fa.fa-circle-o.fa-stack-2x
              i.fa.fa-plus
            div {{_ "create_scenario"}}
