.page.plan.scenarioList: .container: .row
  .col-md-3.text-center: .mFadeInLeft
    div: span.fa.fa-gears.fa-5x
    h4 {{_ "schemaDir_create"}}
  .col-md-9
    .row: .mFadeInDown
      each getScenarios
        .col-md-3
          .scenarioItem
            img(src="#{logo}", width='75')
            .scenarioName= name
      .col-md-3
        #scenarioCreate.scenarioItem
          .addButtonHolder: span.fa-stack.fa-lg
            i.fa.fa-circle-o.fa-stack-2x
            i.fa.fa-plus
          div {{_ "create_scenario"}}
