template(name='appBody')
  unless connected
    .notifications
      .notification
        span.icon-sync
          .meta
            .title-notification Trying to connect
            .description There seens to be a connection issue
  if currentUser
    +nav
  +yield
