<template name="appBody">
  <div id="container" style="height:100%;" class="{{menuOpen}} {{cordova}}">

    {{#unless connected}}
      <div class="notifications">
        <div class="notification">
          <span class="icon-sync"></span>
          <div class="meta">
            <div class="title-notification">Trying to connect</div>
            <div class="description">There seems to be a connection issue</div>
          </div>
        </div>
      </div>
    {{/unless}}

    <div class="content-overlay"></div>
    {{#if currentUser}}

          {{> nav}}
    {{/if}}

    <div id="content-container" style="height:100%;" class="container">
       {{> yield}}
    </div>
  </div>
</template>
