
@import 'client/stylesheets/colors.import.styl'

.objectTitle_formSeparator
  margin-top: 50px
  font-size: 1.2em
  color: #fff
  background-color: colorA
  display: inline-block
  padding: 5px 10px
