/*
@font-face
  font-family Raleway
  src url(/fonts/raleway/Raleway-Black.ttf)
  font-style normal
  font-weight 900

@font-face
  font-family Raleway
  src url(/fonts/raleway/Raleway-BlackItalic.ttf)
  font-weight 900
  font-style italic, oblique

@font-face
  font-family Raleway
  src url(/fonts/raleway/Raleway-ExtraBold.ttf)
  font-weight 800

@font-face
  font-family Raleway
  src url(/fonts/raleway/Raleway-ExtraBoldItalic.ttf)
  font-weight 800
  font-style italic, oblique

@font-face
  font-family Raleway
  src url(/fonts/raleway/Raleway-Bold.ttf)
  font-weight bold

@font-face
  font-family Raleway
  src url(/fonts/raleway/Raleway-BoldItalic.ttf)
  font-weight bold
  font-style italic, oblique

@font-face
  font-family Raleway
  src url(/fonts/raleway/Raleway-SemiBold.ttf)
  font-weight 600

@font-face
  font-family Raleway
  src url(/fonts/raleway/Raleway-SemiBoldItalic.ttf)
  font-weight 600
  font-style italic, oblique

@font-face
  font-family Raleway
  src url(/fonts/raleway/Raleway-Medium.ttf)
  font-weight 500

@font-face
  font-family Raleway
  src url(/fonts/raleway/Raleway-MediumItalic.ttf)
  font-weight 500
  font-style italic, oblique
*/

@font-face
  font-family Raleway
  src url(/fonts/raleway/Raleway-Regular.ttf)
  font-variant normal
  font-weight normal
  font-style normal

/*
@font-face
  font-family Raleway
  src url(/fonts/raleway/Raleway-Italic.ttf)
  font-weight normal
  font-style italic, oblique

@font-face
  font-family Raleway
  src url(/fonts/raleway/Raleway-Light.ttf)
  font-weight 300

@font-face
  font-family Raleway
  src url(/fonts/raleway/Raleway-LightItalic.ttf)
  font-weight 300
  font-style italic, oblique

@font-face
  font-family Raleway
  src url(/fonts/raleway/Raleway-ExtraLight.ttf)
  font-weight 200

@font-face
  font-family Raleway
  src url(/fonts/raleway/Raleway-ExtraLightItalic.ttf)
  font-weight 200
  font-style italic, oblique

@font-face
  font-family Raleway
  src url(/fonts/raleway/Raleway-Thin.ttf)
  font-weight 100

@font-face
  font-family Raleway
  src url(/fonts/raleway/Raleway-ThinItalic.ttf)
  font-weight 100
  font-style italic, oblique
*/
