// Expand Boostrap styles for fonts and types
@font-face
  font-family Comfortaa
  src url(/fonts/Comfortaa/Comfortaa_Bold.ttf)
  font-weight bold

@font-face
  font-family Comfortaa
  src url(/fonts/Comfortaa/Comfortaa_Regular.ttf)
  font-weight normal
