// Styling input's placeholders
::-webkit-input-placeholder
  font-style italic
  font-weight lighter
  font-size 0.8em
::-moz-placeholder
  font-style italic
  font-weight lighter
:-ms-input-placeholder
  font-style italic
  font-weight lighter
input:-moz-placeholder
  font-style italic
  font-weight lighter
