// Prevent text selection
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

select {
	-webkit-appearance: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid 1px #c9c9c9;
	border-radius: 0px;
}

.input-group-addon {
	background-color: white;
	border: none;
	border-radius: 0px;
	font-size: 10px;
	padding: 2px 2px;
}

input.form-control {
	border-radius: 0px;
	float : none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid 1px #c9c9c9;
}
.form-control {
	box-shadow: none;
	-webkit-box-shadow: none;
	padding: 0;
	display: inline;
}

.form-horizontal .form-group {
	margin: 0;
}

#login-buttons a, .accounts-dialog a {
	text-decoration: none;
	color: black;
}

.form-horizontal .control-label {
	font-size: 11px;
	font-style: normal;
}
