html, body
  height 100%
  margin 0
  border 0
  padding 0

.page
  padding 1em 0
  background-color white
  &.evaluate
    background-image url(/icon/bg_evaluate.svg)
    background-attachment fixed
    background-repeat no-repeat
  &.observe
    background-image url(/icon/bg_observe.svg)
    background-attachment fixed
    background-repeat no-repeat
  &.plan
    background-image url(/icon/bg_plan.svg)
    background-attachment fixed
    background-repeat no-repeat
