// Expand Boostrap styles for panels
.panel-primary
  border none
  .panel-body
    background-color #ECECED

// Panel
.panel
  h4.panel-inner-title
    margin-top 0
    font-size 0.8em
    font-weight lighter
    font-style italic
    margin-bottom .5em
