.page.evaluate: .container
  .row.mFadeInDown
    .col-md-10: h1.page-title {{_ 'settings_indexes'}}
    .col-md-2
      span.btn.btn-small(class=isEditingMasterCfg)
        i.fa.fa-globe
        | {{_ 'edit_master_config'}}
  .row.mFadeInUp: .col-md-12
    +quickForm collection="Configurations" id="configAutoForm" doc=getCfg template="eportfolio-horizontal" type=getType
