.page.home: .container
  // Page's title as a welcome message
  .row: .col-md-12: h1.page-title.wow.fadeInDown {{_ "hello"}} {{username}}
  // Main row
  .row.all-except-title
    .col-md-8
      .row
        // Access to Observe section
        .col-md-6: .main-menu.sextan.wow.fadeInLeft: a.btn.btn-default(href='/observatory') {{_ 'observe'}}
        // Access to Plan section
        .col-md-6: .main-menu.compass.wow.fadeInDown: a.btn.btn-default(href='/actions-home') {{_ 'plan'}}
      // Fake chart
      .row: .col-md-12: .panel.panel-primary.followup-tools
        .panel-body.wow.fadeInUp
          #followup-chart.ct-chart.ct-double-octave
        .panel-footer: h4 {{_ 'followup_tools'}}
    // Message box
    .col-md-4
      .messages.wow.fadeInRight
        +messageBox
