.page.home: .container
  // Page's title as a welcome message
  h1.page-title.animated.fadeInDown {{_ "hello"}} {{username}}
  // Main row
  section
    nav
      // Access to Observe section
      a.sextan.animated.fadeInLeft.captionWrapper(href='/observatory')
        .caption {{_ 'observe'}}
      // Access to Plan section
      a.compass.animated.fadeInDown.captionWrapper(href='/actions-home')
        .caption {{_ 'plan'}}
      // Follow-up tools
      a.animated.fadeInUp.captionWrapper(href='/actions-home')
        .caption {{_ 'followup_tools'}}
    // Message box
    article.animated.fadeInRight
        +messageBox
