@import 'client/stylesheets/menuBig.import'

menuBig(home, sextan compass, png)

.home
  .all-except-title
    min-height 600px
    margin-bottom 1em
  .mainButtons
      padding-left 70px
      padding-right 70px
  .messages
    height 600px
  .chat-panel
    height 500px

  .followup-tools
    a
      margin-top 1em
      background-image url(/icon/evaluer-2.png)
      display inline-block
      background-repeat no-repeat
      background-size contain
      width 640px
      height 288px
      padding 10px
      transition filter .3s ease-in-out
      border-radius 2px
      &:hover
        transition filter .3s ease-in-out
        filter brightness(0.7) contrast(0.7)
