.page.home: .container
  // Page's title as a welcome message
  h1.page-title.animated.fadeInDown {{_ "hello"}} {{username}}
  // Main row
  section
    nav
      // Access to Observe section
      a.sextan.animated.fadeInLeft(href='/observatory')
        span {{_ 'observe'}}
      // Access to Plan section
      a.compass.animated.fadeInDown(href='/actions-home')
        span {{_ 'plan'}}
      // Follow-up tools
      a.animated.fadeInUp(href='/actions-home')
        span {{_ 'followup_tools'}}
    // Message box
    article.animated.fadeInRight
      +messageBox
