<template name="SelectEstate">
  <div class="modal fade" data-backdrop="static" id="SelectEstateForm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Estates</h4>
        </div>
        <div class="modal-body">
          <p>Your account has access to multiple Estates - choose the one you will work on:</p>
          <div>
            <ul>
              {{#each estates}}
                <li><a href="#" class="select_estate">Estate: {{estate_name}} - id: {{_id}}</a></li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</template>
