.TCC_block
  // width 800px
  // margin-left auto
  // margin-right auto
  display flex
  flex-wrap wrap
  justify-content flex-start
  padding 15px

.TCC_item
  display flex
  margin-left auto
  margin-right auto
  align-items: center
  width: 100%
  justify-content: space-between

.TCC_label
  // width 200px
  width: 210px !important

// .TCC_fields
//   display: flex

.TCC_item > div
  // flex: auto
  width: 250px

.TCC_columnTitle
  font-size 11px
  font-weight bold
  text-align center
