@import 'client/stylesheets/*.import'

.yearly_values_container
  max-width: 1100px
  overflow-x: scroll
  white-space: nowrap //http://stackoverflow.com/questions/24132943/overflow-x-not-working
  margin-left: 85px
  margin-bottom: 15px
  margin-top: 5px

.yearly_values_item
  // flex-basis: 70px
  width: 60px
  display: inline-flex
  flex-direction: column

.yearly_values_titleBlock
  float: left
  margin-top: 15px

.yearly_values_title
  height: 34px
  padding-top:8px
  font-weight: bold
  font-size: 0.7em

// These properties are directly in the Model
.AF_array_title
  background-color: color0 !important
  color: white !important
  text-align: center

.AF_array_mainCell
  text-align: center

.AF_array_subCell
  text-align: center
  font-size: 0.8em !important
  font-weight: bold !important


// afArrayField_fluidsArray
.panelMaxWidth
  max-width 1000px

