.yearly_values_flexBox
  max-width: 1000px
  overflow-x: scroll
  white-space: nowrap //http://stackoverflow.com/questions/24132943/overflow-x-not-working
  margin-left: 85px
  margin-bottom: 15px
  margin-top: 5px

.yearly_values_flexItem
  // flex-basis: 70px
  width: 70px
  display: inline-flex
  flex-direction: column

.yearly_values_title
  height: 34px
  padding-top:10px
  font-weight: bold
  font-size: 0.8em
