.yearly_values_flexBox
  // display: flex
  // flex-direction: row
  // flex-wrap: nowrap
  // justify-content: flex-start
  // align-items: flex-start // not the default
  width: 900px
  overflow-x: scroll
  white-space: nowrap

.yearly_values_flexItem
  // flex-basis: 70px
  width: 70px
  display: inline-flex
  flex-direction: column

.yearly_values_title
  height: 34px
  padding-top:8px
  margin-right:25px
