.signin.container-fluid
  .row
    .col-sm-offset-2.col-sm-4
      img.logo(src='/img/eportfolio.svg')
  .row
    .col-sm-offset-3.col-sm-4
      p.hangs {{_ 'hangs'}}
      p.my-account {{_ 'my_account'}}
      form
        if errorMessages
          .list-errors
            each errorMessages
              .list-item= this
        input.form-control(type='email', name='email', placeholder="{{_ 'your_email'}}")
        input.form-control(type='password', name='password', placeholder="{{_ 'your_password'}}")
        .clearfix
          button.btn.btn-primary.pull-right(type='submit') {{_ 'connect'}}
  .row
    .col-sm-offset-3.col-sm-4
      .clearfix
        .pull-left.interrogation ?
        .pull-left.what-is: a(href='#') {{_ 'e_portfolio_what_is_it'}}
