colorPrimary = #A9C700
colorSecondary = #808080

headingHeight = 2.6em
rondFontSize = 22px
roundIconSize = 1.5 * rondFontSize

.timeline
  &.timeline-header
    height headingHeight
  &.timeline-filter
    background-color colorSecondary
    width 8em
    height headingHeight
    margin-top -.6em
    margin-right -1em
    padding-top .5em
    color white
    display table
    &:after
      padding-top .1em
      padding-right .5em
      width: 1em
      font-family 'Glyphicons Halflings'
      content '\e138'
    select
      -webkit-appearance none
      width 6.5em
      font-family Comfortaa
      background transparent
      padding 0 1em
      border 0
  &.appraisal-value
    color colorPrimary
    font-size 1.4em
    font-weight bolder
    margin-bottom 0
  &.appraisal-sep
    border-right 1px solid colorSecondary
  // The little round shapes used for the charts legends
  &.chart-legend
    width 1em
    height 1em
    border-radius 1em
  // Action bucket
  &.action-bucket-heading
    height headingHeight
  &.action-bucket-arrow
    width 4em
    height headingHeight
    line-height headingHeight
    text-align center
    margin-top -.6em
    margin-right -1em
    color white
    background-color colorSecondary
  &.timeline-action-items
    font-family 'foliom-picto'
    background-color colorPrimary
    color white
    font-size rondFontSize
    width roundIconSize
    border-radius roundIconSize
    line-height roundIconSize
    text-align center
