colorPrimary = #A9C700
colorSecondary = #808080

headingHeight = 2.6em
rondFontSize = 22px
roundIconSize = 1.5 * rondFontSize

.timeline
  &.timeline-header
    height headingHeight
  &.timeline-filter
    background-color colorSecondary
    width 8em
    height headingHeight
    margin-top -.6em
    margin-right -.9em
    padding-top .5em
    color white
    display table
    &:after
      padding-top .1em
      padding-right .5em
      width: 1em
      font-family 'Glyphicons Halflings'
      content '\e138'
    select
      outline none
      width 6.5em
      font-family Comfortaa
      background transparent
      padding 0 1em
      border 0
  &.timeline-year-panel
    padding 0
    max-height 580px
    overflow auto
    border-bottom 3px colorSecondary solid
  &.timeline-year-table
    width 100%
    >tr:nth-child(even)
      background-color white
    >tr
      border-bottom 1px colorSecondary solid
  &.timeline-quarter-table
    width 100%
    >tr:not(:last-child)
      border-bottom 1px colorSecondary dashed
    td:first-child
      width 2em
      h4.panel-inner-title
        width 1.4em
    td
      height 1.8em
      padding .1em
  &.timeline-year
    padding .1em
    text-align center
    width 3.5em
    border-right 3px colorSecondary solid
  &.timeline-year, &.appraisal-value
    color colorPrimary
    font-weight bold
    font-size 1.4em
  .timeline-action-items
    font-family 'foliom-picto'
    background-color colorPrimary
    color white
    font-size rondFontSize
    width roundIconSize
    border-radius roundIconSize
    line-height roundIconSize
    text-align center
    height roundIconSize
    display inline-flex
    margin .2em
    padding-left .2em
    >span
      background-color colorSecondary
      font-family OpenSans
      font-size .5em
      border-radius 1.5em
      width 2em
      height 1.5em
      line-height 1.5em
      left .4em
      display block
      position relative
    >span[data-value='1']
      display none
  &.appraisal-value
    margin-bottom 0
  &.appraisal-sep
    border-right 1px solid colorSecondary
  // The little round shapes used for the charts legends
  &.chart-legend
    font-size .8em
    font-weight thin
    &:before
      content '?'
      display inline-block
      width 1em
      height 1em
      border-radius 1em
      line-height 1em
      text-align center
      margin-right .5em
      background-color red
  // Action bucket
  &.action-bucket-heading
    height headingHeight
  &.action-bucket-arrow
    width 4em
    height headingHeight
    line-height headingHeight
    text-align center
    margin-top -.6em
    margin-right -1em
    color white
    background-color colorSecondary
