@import 'client/stylesheets/colors.import.styl'

headingHeight = 42px
rondFontSize = 22px
roundIconSize = 1.5 * rondFontSize

.timeline
  .timeline-header
    height headingHeight
  .timeline-filter
    background-color colorC
    width 144px
    height headingHeight
    margin-top -10px
    margin-right -15px
    padding-top 9px
    color white
    display table
    &:after
      padding-top 2px
      padding-right 9px
      width 16px
      font-family 'Glyphicons Halflings'
      font-size 18px
      content '\e138'
    select
      cursor pointer
      outline none
      width 114px
      font-family Comfortaa
      background transparent
      font-size 18px
      padding 0 18px
      border 0
  .timeline-year-panel
    padding 0
    max-height 606px
    overflow-x hidden
    overflow-y auto
    border-bottom 3px colorC solid
  .timeline-year-table
    width 100%
    >tr:nth-child(even)
      background-color white
    >tr
      border-bottom 1px colorC solid
  td[data-role='dropable-container'].dropable
    background-color colorD
  .timeline-quarter-table
    width 100%
    >tr:not(:last-child)
      border-bottom 1px colorC dashed
    td:first-child
      width 1.6em
      vertical-align top
      h4.panel-inner-title
        width 1.4em
    td
      height 43px
      padding .1em
  .timeline-year
    padding .1em
    text-align center
    width 3.5em
    border-right 3px colorC solid
  .timeline-year, &.appraisal-value
    color colorA
    font-weight bold
    font-size 1.4em
  .timeline-action-items
    // Set a hand as a cursor to denote draggable property
    cursor -webkit-grab
    cursor grab
    font-family 'foliom-picto'
    background-color colorA
    color white
    font-size rondFontSize
    width roundIconSize
    border-radius roundIconSize
    line-height roundIconSize
    text-align center
    height roundIconSize
    display inline-flex
    margin .2em
    padding-left .2em
    >span
      background-color colorC
      font-family OpenSans
      font-size .5em
      border-radius 1.5em
      width 2em
      height 1.5em
      line-height 1.5em
      left .4em
      display block
      position relative
    >span[data-value='1']
      display none
  .appraisal-value
    margin-bottom 0
  .appraisal-sep
    border-right 1px solid colorC
  .floating-eye
    height: 0
    margin-right 18px
    span
      height 18px
      cursor pointer
  // Charts customization
  .ct-chart .ct-point
    stroke-width 5px
  // Chart legend
  .chart-legend
    font-size .8em
    font-weight lighter
    &.colorA
      color colorA
      &:before
        background-color colorA
    &.colorB
      color colorB
      &:before
        background-color colorB
    &.colorC
      color colorC
      &:before
        background-color colorC
    &.colorD
      color colorD
      &:before
        background-color colorD
    &:before
      content ''
      display inline-block
      width 1em
      height 1em
      border-radius 1em
      text-align center
      margin-right .5em
      padding 0
  // Chart's tooltips
  .tooltip
    border 4px colorC solid
    background-color colorD
    border-radius 5px
    color colorB
    font-size 0.7em
    font-weight bold
    height auto
    min-width 80px
    max-width 250px
    padding 4px
    position relative
    text-align center
    width auto
    pointer-events none
    z-index 1
  .tooltip:after, .tooltip:before
    top 100%
    left 50%
    border solid transparent
    content ' '
    height 0
    width 0
    position absolute
    pointer-events none
  .tooltip:after
    border-color transparent
    border-top-color colorD
    border-width 15px
    margin-left -15px
  .tooltip:before
    border-color transparent
    border-top-color colorC
    border-width 20px
    margin-left -20px
  // Action bucket
  .action-bucket
    position relative
  .action-bucket-displayed
    top -300px
    margin-bottom -300px
  .action-bucket-heading
    height headingHeight
    cursor pointer
  .action-bucket-arrow
    width 72px
    height headingHeight
    line-height headingHeight
    text-align center
    margin-top -10px
    margin-right -15px
    color white
    background-color colorC
  .action-bucket-selector
    padding .5em
  .action-bucket-table
    overflow auto
    height 300px
    padding 0
