.page.plan: .container: .row
  .col-md-4: a.btn.btn-primary(href='{{pathFor "actions-list"}}') {{_ "actionList_title"}}
  .col-md-4: a.btn.btn-primary(href='{{pathFor "actions-apply"}}') {{_ "actions_apply"}}
  .col-md-4: a.btn.btn-primary(href='{{pathFor "scenarioList"}}') {{_ "schemaDir_create"}}
