.page.plan: .container: .row
  .col-md-4: a.btn.btn-primary(href='{{pathFor "actionsList"}}') {{_ "actionList_title"}}
  .col-md-4: a.btn.btn-primary(href='{{pathFor "applyActions"}}') {{_ "apply_actions"}}
  .col-md-4: a.btn.btn-primary(href='#') SchemaDir
