template(name='applyActions')
  .page.plan
    .container
      .row
        #portfolioSelectZone
          | {{_ "select_portfolio"}}
          select#portfolioSelect.form-control
            option(value='', disabled='', selected='') Select your Portfolio
            each getPortfolioList
              option(value=_id)= name
      .row
        .col-md-9.treeViz
          +treeTplt
        .col-md-3
          | ActionList: {{currentBuildingName}}
          each getUsableActions
            .checkbox
              label
                input.ActionCheckbox(type='checkbox', value='{{_id}}')
                | {{name}}
