.page.observe.buildingDetail: .container
  // Dynamic page title
  .row: .col-md-12
    h1.page-title
      | {{current_portfolio_name_H}} -
      span.text-primary= building_name
      |  -
      select#leaseSelect.form-control
        option(value='all_leases', selected='') All leases
        each getLeases
          option(value='{{_id}}')= lease_name
  // First row: Summary & Assesment
  .row
    // Summary
    .col-md-4: .panel.panel-primary
      .panel-heading: h3.panel-title.text-center {{_ "summary"}}
      #buildingSummary.panel-body
        p Leases present:
        each getLeases
          div: a.update_lease(href='#') {{_ lease_name}}
          div Lease usage is: {{_ lease_usage}} 
          div Lease surface is: {{_ area_by_usage}} 
          div DPE Energy consumption: {{_ dpe_energy_consuption.grade}} / {{_ dpe_energy_consuption.value}} 
          p DPE CO2 emission: {{_ dpe_co2_emission.grade}} / {{_ dpe_co2_emission.value}}
    // Assesment
    .col-md-8: .panel.panel-primary
      .panel-heading: h3.panel-title {{_ "assessment"}}
      .panel-body
        .row
          // Certifications
          .col-md-4
            h4.panel-inner-title Certifications
            p: strong TODO Add certification vignettes
          // DPE
          .col-md-4
            p.dpe-gpe-legend {{_ 'efficient_housing'}}
            .dpe-gpe-chart: +dpe
            p.dpe-gpe-legend {{_ 'high_energy_housing'}}
          // GES
          .col-md-4
            p.dpe-gpe-legend {{_ 'low_emission_of_greenhouse_gases'}}
            .dpe-gpe-chart: +ges
            p.dpe-gpe-legend {{_ 'strong_emission_of_greenhouse_gases'}}
  // Second row: Messages & alerts, Pie chart, Water consumption
  .row
    // Message box
    .col-md-4: +messageBox
    // Pie chart for energy consumption by usage
    .col-md-5: .panel.panel-primary: .panel-body
      h4.panel-inner-title Consommations énergétiques par usage
      +pie
    // Water consumption
    .col-md-3
      .panel.panel-primary.water_block: .panel-body
        h4.panel-inner-title Water consumption
        table#waterTblBig.waterTable
          tr
            td(colspan='2')
              .water1.text-primary
                span.glyphicon.glyphicon-tint(aria-hidden='true', style='font-size: 25px;')
                | {{waterConsumption "m3"}} m3
        table#waterTblSmall.waterTable
          tr
            td
              .water2 -
              br
              .water2u m3/pers
            td
              .water2 {{waterConsumption "m3/m2" "3"}}
              br
              .water2u m3/m2
          tr
            td
              .water2 {{waterConsumption "yearly_cost"}}
              br
              .water2u €
            td
              .water2 {{waterConsumption "€/m3" "0"}}
              br
              .water2u €/m3
  // Last row: Actions summary, Indices
  .row
    // Actions summary
    .col-md-4: .panel.panel-primary
      .panel-heading: h3.panel-title.text-center {{_ 'actionRecap'}}
      .panel-body
        p Action1
        p Action2
    // Idices
    .col-md-8: .row
      // Indices lifetime
      .col-md-4: .panel.panel-primary: .panel-body
        h4.panel-inner-title {{_ "global_lifetime"}}
      // Indices Conformity
      .col-md-4: .panel.panel-primary: .panel-body
        h4.panel-inner-title {{_ "global_conformity"}}
      // Indices Comfort
      .col-md-4: .panel.panel-primary: .panel-body
        h4.panel-inner-title {{_ "global_comfort_index"}}
