<template name="buildingDetail">
    <div class="container">

        <div class="buildingTitle">
            {{current_portfolio_name_H}} -
            <span class="buildingName">{{building_name}}</span> -
            <select class="form-control" id="leaseSelect">
                <option value="all_leases" selected>All leases</option>
                {{#each getLeases}}
                    <option value="{{_id}}">{{lease_name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="row">
            <div class="col-md-4">

                <div class="panel ep_panel">
                  <div class="panel-heading">
                    <b>{{_ "summary"}}</b>
                  </div>

                  <div class="panel-body" id="buildingSummary">

                    <div>
                        Leases present:
                        {{#each getLeases}}
                            <br/>
                            <div>
                                <b><a href="#" class="update_lease">{{_ lease_name}}</a></b><br/>
                                Lease usage is: {{_ lease_usage}} <br/>
                                Lease surface is: {{_ area_by_usage}} <br/>
                                DPE Energy consumption: {{_ dpe_energy_consuption.grade}} / {{_ dpe_energy_consuption.value}} <br/>
                                DPE CO2 emission: {{_ dpe_co2_emission.grade}} / {{_ dpe_co2_emission.value}}<br/>
                            </div>
                        {{/each}}
                    </div>

                  </div>
                </div>

            </div> <!-- End of col -->


            <div class="col-md-8">

                <div class="panel ep_panel">
                  <div class="panel-heading">
                    <b>{{_ "assessment"}}</b>
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="panel ep_panel">
                          <div class="panel-body">

                            <div class="blockTitle">Certifications</div>

                          </div>
                        </div>

                    </div>

                    <div class="col-md-7">
                        <div class="panel ep_panel">
                          <div class="panel-body">

                            {{> DPEchart}}

                          </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>


        <!-- NEW ROW -->

        <div class="row">
            <div class="col-md-4">
                {{> messageBox}}
            </div>

           <!--  <div class="col-md-4">
                {{> pie}}
            </div> -->

            <div class="col-md-5">
                <div class="panel ep_panel">
                    <div class="panel-body">
                        <div class="blockTitle">Consommations énergétiques par usage</div>
                        {{> pie}}
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel ep_panel water_block">
                    <div class="panel-body">
                        <div class="blockTitle">Water consumption</div>
                        <table class="waterTable" id="waterTblBig">
                            <tr>
                                <td colspan="2">
                                    <div class="water1">
                                        <span class="glyphicon glyphicon-tint" aria-hidden="true" style="font-size: 25px;"></span>
                                        {{waterConsumption "m3"}} m3</div>
                                </td>
                            </tr>
                        </table>
                        <table class="waterTable" id="waterTblSmall">
                            <tr>
                                <td>
                                    <div class="water2">-</div><br/>
                                    <div class="water2u">m3/pers</div>
                                </td>
                                <td>
                                    <div class="water2">{{waterConsumption "m3/m2" "3"}}</div><br/>
                                    <div class="water2u">m3/m2</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="water2">{{waterConsumption "yearly_cost"}}</div><br/>
                                    <div class="water2u">€</div>
                                </td>
                                <td>
                                    <div class="water2">{{waterConsumption "€/m3" "0"}}</div><br/>
                                    <div class="water2u">€/m3</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>


        <!-- NEW ROW -->

        <div class="row">
            <div class="col-md-4">

                <div class="panel ep_panel">
                  <div class="panel-heading">
                    <b>{{_ "actionRecap"}}</b>
                  </div>

                  <div class="panel-body">
                    Action1 <br/>
                    Action2

                  </div>
                </div>

            </div>


            <div class="col-md-8">

                <div class="row">

                    <div class="col-md-4">
                        <div class="panel ep_panel">
                            <div class="panel-body">
                                <div class="blockTitle">{{_ "global_lifetime"}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel ep_panel">
                            <div class="panel-body">
                                <div class="blockTitle">{{_ "global_conformity"}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel ep_panel">
                            <div class="panel-body">
                                <div class="blockTitle">{{_ "global_comfort_index"}}</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>



        </div>

    </div>
</template>


<!-- <template name="messages">
  {{#each messages}}
    <strong>{{name}}:</strong> {{message}}<br>
  {{/each}}
</template> -->


