#leaseSelect
  width 150px

#buildingSummary
  height 200px
  overflow-y scroll
  font-size small

// DPE and GPE
.dpe-gpe-legend
  font-size small
  margin 0
  font-weight bold
.dpe-gpe-chart
  margin .1em 0

// Water
.water_block
  height 272px !important

.water1
  margin 5px 0px 5px 0px
  font-size 35px

.water2
  font-size 30px
  margin-bottom -25px
  margin-top 3px

.water2u
  font-size 15px
  margin-bottom 10px

.waterTable
  width 100%
  text-align center

#waterTblBig
  border none
  border-bottom 1px solid rgb(167, 167, 167)
  margin-bottom 20px

#waterTblSmall
  border none
  border-spacing 0

#waterTblSmall tr td
  padding 2px 4px 2px 4px

#waterTblSmall tr:not(:first-child) td
  border-top 1px solid rgb(201, 201, 201)

#waterTblSmall tr td:not(:first-child)
  border-left 1px solid rgb(201, 201, 201)
