<template name="buildingDetail">
    <div class="container">

        <div class="row">
            <div class="col-md-5">
                <p>I display Buildings!</p>
                <div>
                    buildingId is: {{_id}} <br/>
                    building_name is: {{building_name}}
                </div>


                <div>
                    {{#each getLeases}}
                         <br/>
                        <div>
                            Lease name is: {{_ lease_name}} <br/>
                            Lease usage is: {{_ lease_usage}} <br/>
                            DPE Energy consumption: {{_ dpe_energy_consuption.grade}} / {{_ dpe_energy_consuption.value}} <br/>
                            DPE CO2 emission: {{_ dpe_co2_emission.grade}} / {{_ dpe_co2_emission.value}}
                        </div>
                    {{/each}}
                </div>

            </div>


            <div class="col-md-5">
                {{> messageBox}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">

            </div>

            <div class="col-md-7">
                {{> pie}}
            </div>

        </div>

    </div>
</template>


<!-- <template name="messages">
  {{#each messages}}
    <strong>{{name}}:</strong> {{message}}<br>
  {{/each}}
</template> -->


