<template name="buildingDetail">
    <div class="container">

        <div class="row">
            <div class="col-md-5">
                <p>I display Buildings!</p>
                <div>
                    buildingId is: {{_id}} <br/>
                    building_name is: {{building_name}}
                </div>

                <div>
                    {{#each getLeases}}

                    {{/each}}
                </div>

            </div>


            <div class="col-md-5">
                {{> messageBox}}
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-md-8">
                {{> pie}}
            </div>

        </div> -->

    </div>
</template>


<!-- <template name="messages">
  {{#each messages}}
    <strong>{{name}}:</strong> {{message}}<br>
  {{/each}}
</template> -->


