<template name="insertPortfolioForm">
    <div class="modal fade" id="portfolioForm">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">New Portfolio</h4>
          </div>
          <div class="modal-body">
            {{> quickForm collection="Portfolios" id="AFinsertPortfolioForm" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9" type="insert" resetOnSuccess="true" buttonContent="OK" buttonClasses="btn btn-primary AF_submit_button"}}
          </div>
        </div>
      </div>
    </div>
</template>
