.page.home
  .container
    .row: .col-md-12
      h1.page-title {{_ "hello"}} {{username}}
    .row
      .col-md-8
        .row
          .col-md-6: .home.main-menu.sextan
            a.btn.btn-default(href='/observatory') {{_ 'observe'}}
          .col-md-6: .home.main-menu.compass
            a.btn.btn-default(href='/actionHome') {{_ 'plan'}}
        .row: .col-md-12
          .home.followup-tools
            p {{_ 'followup_tools'}}
      .col-md-4
        .home.messages
          button.btn.btn-default(href='/actionHome') MsgBox
