<template name="home">
  <div class="page home">
         <div>{{_ "hello"}}</div>
Bienvenue sur e-portfolio {{username}}
         <div class="container-fluid">
           <div class="row">
             <a href="/observatory" class="btn btn-default">Observatoire de votre immobilier</a>
             <a href="#" class="btn btn-default">Schéma directeur</a>
             <a href="#" class="btn btn-default">Suivi et pilotage</a>
           </div>
         </div>
    {{>SelectEstate}}
  </div>
</template>
