<template name="home">
  <div class="page home">
        <div>
            {{_ "hello"}} {{username}}
        </div>

        <div class="container-fluid">
            <div class="row">

                <div class="col-md-4 sextan mainMenuImg">
                    <a href="/observatory" class="btn btn-default">
                        Observer
                    </a>
                </div>

                <div class="col-md-4 compass mainMenuImg">
                    <a href="/actionHome" class="btn btn-default">Planifier</a>
                </div>

                <div class="col-md-4">
                    MsgBox
                </div>


           </div>


<!-- <a href="#" class="btn btn-default">Suivi et pilotage</a> -->

           <!--
           <div class="col-md-4">
                <a href="/observatory" class="btn btn-default">Observatoire de votre immobilier</a>
           </div>

           <div class="col-md-4">
           </div>

           <div class="col-md-4">
           </div>-->

         </div>

  </div>
</template>
