.mainMenuImg
  background-repeat no-repeat
  background-size contain
  background-color #9EC536
  height 340px
  padding 10px
  opacity 0.7
  &:hover
    opacity 1.0

.sextan
  background-image url(/icon/sextan.png)

.compass
  background-image url(/icon/compass.png)
