template(name="home")
  .page.home
    p {{_ "hello"}} {{username}}
    .container-fluid
      .row
        .col-md-4.mainMenuImg.sextan
          a.btn.btn-default(href='/observatory') Observer
        .col-md-4.mainMenuImg.compass
          a.btn.btn-default(href='/actionHome') Planifier
        .col-md-4.mainMenuImg.msgBox
          button.btn.btn-default(href='/actionHome') MsgBox
