template(name="home")
  .home
    .container
      .row
        p {{_ "hello"}} {{username}}
      .row
        .col-md-8
          .row
            .col-md-6.home.main-menu.sextan
              a.btn.btn-default(href='/observatory') {{_ 'observe'}}
            .col-md-6.home.main-menu.compass
              a.btn.btn-default(href='/actionHome') {{_ 'plan'}}
          .row
            .home.followup-tools
              p {{_ 'followup_tools'}}
        .col-md-4
          .home.messages
            button.btn.btn-default(href='/actionHome') MsgBox
