<template name="SelectEstate">
    <div class="modal fade" id="SelectEstateForm">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Estates</h4>
          </div>
          <div class="modal-body">
                <p>Your account has access to multiple Estates - choose the one you will work on:</p>
                <div>
                    <ul>
                        {{#each estates}}
                            <li>{{estate_name}}</li>
                        {{/each}}
                    </ul>
                </div>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>


