.page.plan.actionsHome: .container: nav
  a.action_conf.animated.fadeInLeft(href='{{pathFor "actions-list"}}')
    span {{_ 'actionList_title'}}
  a.action_apply.animated.fadeInDown(href='{{pathFor "actions-apply"}}')
    span {{_ 'actions_apply'}}
  a.action_blueprint.animated.fadeInRight(href='{{pathFor "scenarioList"}}')
    span {{_ 'schemaDir_create'}}
