.page.plan.actionsHome: .container: .flex_nav: .animated.fadeInDown
  .main-menu.action_conf.animated.fadeInLeft: a.btn.btn-default(href='{{pathFor "actions-list"}}') {{_ 'actionList_title'}}
  .main-menu.action_apply.animated.fadeInLeft: a.btn.btn-default(href='{{pathFor "actions-apply"}}') {{_ 'actions_apply'}}
  .main-menu.action_blueprint.animated.fadeInLeft: a.btn.btn-default(href='{{pathFor "scenarioList"}}') {{_ 'schemaDir_create'}}
