.page.plan: .container.mFadeInDown
  +quickForm collection="Actions" id="insertActionForm" doc=getAction type=getType template="eportfolio-horizontal" buttonContent="OK" buttonClasses="btn btn-primary AF_submit_button"
