@import 'client/stylesheets/colors.import.styl'

.actionList
  .fa
    color colorB
  div
    span.fa-stack.fa-lg
      margin-bottom .5em
  float left
  box-shadow: colorA 0px 3px 0px
  text-align center
  width 100%
  height 115px
  margin-bottom 1em
  background-color #ECECED
  // So that we can position the Edit button
  position relative

  .logo
    font-family 'foliom-picto'
    font-size: 65px
    margin-bottom: -12px
  .actionTitle
    font-style italic
    // height: 40px
    // line-height: 40px
    // vertical-align: middle
    font-size: 0.8em

.editAction
    position absolute
    top 5px
    right 5px

.actionUserTemplate
    border-color rgb(43, 219, 226)

.actionCreate
    border-color black

.newActionBtn
  margin-top 1em
  a
    width 100%

.actionStuff
    clear both
    margin-top 25px
    color rgb(187, 180, 172)
