.page.plan.actionsHome: .container: nav
  a.action_conf.mFadeInLeft(href='{{pathFor "actions-list"}}')
    span {{_ 'actionList_title'}}
  a.action_apply.mFadeInDown(href='{{pathFor "actions-apply"}}')
    span {{_ 'actions_apply'}}
  a.action_blueprint.mFadeInRight(href='{{pathFor "scenarioList"}}')
    span {{_ 'schemaDir_create'}}
