.page.observe.observatory: .container
  .row: .col-md-12
    h1.page-title.animated.fadeInDown {{_ 'manage_portfolios'}}
    .animated.fadeInDown: +map
  .row.animated.fadeInUp
    .col-md-3
      .panel.panel-primary
        .panel-heading
          h3.panel-title
            | {{_ "portfolio"}}
            .pull-right
              span.glyphicon.glyphicon-globe(aria-hidden='true')
        .panel-body
          // All Portfolios
          #portfolio_list
            .list-group
              each getPortfolioList
                a.list-group-item.select_portfolio(href='#')= name
            button.btn.btn-primary.insert_portfolio(type='button', data-toggle='modal', data-target='#portfolioForm') {{_ 'new_portfolio'}}
            +insertPortfolioForm
    .col-md-3
      .panel.panel-default
        .panel-heading
          h3.panel-title {{_ 'buildings'}}
        .panel-body.observatory#building_panel
          // Buildings for current Portfolio
          #building_list(style='display: none;')
            if isBuilding
              .list-group
                each getBuildingList
                  a.list-group-item.select_building(href='#')= building_name
              a.btn.btn-primary(href="{{pathFor 'building-new'}}", role='button') {{_ 'new_building'}}
              .observatory#import-zone
                input#importPortfolio(type='file', style='float:left')
                a.importPortfolio.btn.btn-primary(href='', role='button') {{_ 'import'}}
    .col-md-6
      .panel.panel-primary
        .panel-body
          p
            +barchart
