@import 'client/stylesheets/*.import'

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: color0;
  stroke-width: 1.5px;
}

.node text {
  font-size: 0.9em;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

#treePlaceholder{
    /*height: 1800px !important ;*/
}
