.signin.container-fluid
  .row
    .col-sm-offset-2.col-sm-4
      img.animated.fadeInDown.logo(src='/img/eportfolio.svg')
  .row
    .col-sm-offset-3.col-sm-4
      .animated.fadeInLeft
        p.hangs {{_ 'hangs'}}
        .clearfix.what-block.animated.fadeInLeft
          .pull-left.interrogation ?
          .pull-left.what-is: a(href='#') {{_ 'e_portfolio_what_is_it'}}
        p.my-account {{_ 'my_account'}}
        form.form-signing
          if errorMessages
            .list-errors
              each errorMessages
                .list-item= this
          input.form-control(type='email', required, name='email', placeholder="{{_ 'your_email'}}")
          input.form-control(type='password', required, name='password', placeholder="{{_ 'your_password'}}")
          .clearfix
            button.btn.btn-primary.pull-right(type='submit') {{_ 'connect'}}
