@import 'client/stylesheets/*.import'

.signin
  width 100%
  height 100%
  color black
  background url('/img/fondhome.jpg') no-repeat center top
  background-size cover

  .logo
    margin-top 35%
    margin-left 10%
    margin-bottom 1.1em
    max-width 270px

  .hangs
    font-size 1.3em
    margin-bottom 1em
    max-width 350px

  input, button
    margin-bottom .5em
    padding-left .5em

  .interrogation
    background color0
    border-radius 2em
    width 2em
    height 2em
    color white
    margin-right 1em
    text-align center
    line-height 2em
    font-weight bold
    font-size 1.2em

  .form-signing
    max-width 300px

  .what-block
    margin-bottom: 1.1em

  .what-is
    margin-top .4em

  a, a:hover
    color black

  .my-account, a, a:hover, .interrogation, .hangs
    font-family Comfortaa
    font-weight: bold
