// @NOTE Currently Chartist is configured with 4 series as its maximum. This can be extended.
color0 = #A9C700
color1 = #4D4D4D
color2 = #808080
color3 = #CCCCCC

// Imports from Bootstrap
brandInfo = #5bc0de
brandWarning = #f0ad4e
