// .section figcaption {
//   background: rgba(0,0,0,0.8);
//   color: white;
//   display: table;
//   height: 100%;
//   left: 0;
//   opacity: 0;
//   position: absolute;
//   right: 0;
//   top: 0;
//   z-index: 100;
// }

// .section figcaption p {
//   display: table-cell;
//   font-size: 1.5em;
//   position: relative;
//   top: -40px;
//   width: 289px;
//   vertical-align: middle;
// }

.captionWrapper
  display flex
  align-items center
  justify-content center
  text-decoration none

.caption
  // position relative
  // top 30%
  visibility hidden
  font-family Comfortaa
  font-size 2.2em
  color white
  text-align center

a:hover .caption
  visibility:visible
