@import 'client/stylesheets/*.import'

.select2-search
  margin-top 4px

.select2-drop-active
  border 1px color0 solid
  font-family OpenSans
  font-size 12px
  .select2-highlighted
    background-color color0
