.CiS_block
  // width 800px
  // margin-left auto
  // margin-right auto
  display flex
  flex-wrap wrap
  justify-content flex-start

.CiS_item
  display inline-block
  margin-left auto
  margin-right auto
  width 330px
