.scenario_row
  margin-top: 20px

.addCriterion
  width: 420px

#scenarioCriterion
  margin-bottom: 10px

#sortable
  list-style-type: none
  margin: 0
  padding: 0
  width: 80%
  margin-left: auto
  margin-right: auto
#sortable li
  margin: 0 3px 3px 3px
  padding: 0.4em 0.4em 0.4em 1.5em
  // padding-left: 1.5em
  font-size: 1em
  min-height: 60px
  border: 1px solid #d3d3d3
  background-color #FAFAFA
#sortable li span
  position: absolute
  margin-left: -1.3em

