.page.plan: .container: .row
  .col-md-3: .text-center
      p: img(src='/icon/actionIcons/iconmonstr-gear-10-icon-256.png', width='100')
      h4 {{_ "schemaDir_create"}}
  .col-md-9
    #portfolioSelectZone
      | {{_ "select_portfolio"}}
      select#portfolioSelect.form-control
        option(value='', disabled='', selected='') Select your Portfolio
        each getPortfolioList
          option(value=_id)= name
    .row
      each getScenarios
        .col-md-4
          .scenarioItem
            a.editScenario(href='')
              img(src='/icon/actionIcons/iconmonstr-loading-14-icon-256.png', width='50')
              div= name
      .col-md-4
        #scenarioCreate.scenarioItem
          a.newScenario(href='')
            img(src='/icon/actionIcons/iconmonstr-plus-5-icon-256.png', width='50')
            div {{_ "create_scenario"}}
