@import 'client/stylesheets/colors.import.styl'

.scenarioForm

  &.row-correct
    margin-top: -5px //very ugly way to correct the vertical centering

  &#scenarioCriterionTitle
    margin-bottom: 10px

  &#sortable
    list-style-type: none
    margin: 0
    padding: 0
    width: 90%
    margin-left: auto
    margin-right: auto
  &#sortable li
    margin-bottom: 3px
    font-size: 1em
    // min-height: 60px
    height: 60px
    line-height: 60px
    border: 1px solid #d3d3d3
    background-color #FAFAFA

  &.criterion-text
    line-height: normal
    vertical-align: middle
    display: inline-block

  &.criterion-desc
    font-size: 0.8em
    font-style: italic

  &#addCriterionLi
    background-color: #BEDBC0 !important

  &#addCriterionSelect
    width: 85%

  &.handlerIcon
    margin-left: 15px
    margin-top: 25px

  &.removeCriterion
    margin-right: 15px
    color: rgb(189, 0, 0)
    // background #A9C700
    // border-radius 2em
    // width 2em
    // height 2em
    // margin-right 1em
    // text-align center
    // line-height 2em
    // font-weight bold
    // font-size 1.2em

  &#scenario-submit
    margin-top: 20px
    margin-left: auto
    margin-right: auto
    display: block

  &.actionTable
    width:100%
    margin-top: 50px
    font-size: 0.8em

  &.actionTable th
    background-color: #A9C700
    text-align: center

  &.actionTable table, th, td
    border: 1px solid black
    border-collapse: collapse

  &.actionTable th,td
    padding: 7px
