.scenario_row
  margin-top: 20px

#scenarioCriterion
  margin-bottom: 10px

#sortable
  list-style-type: none
  margin: 0
  padding: 0
  width: 80%
  margin-left: auto
  margin-right: auto
#sortable li
  margin: 0 3px 3px 3px
  font-size: 1em
  // min-height: 60px
  height: 60px;
  line-height: 60px;
  border: 1px solid #d3d3d3
  background-color #FAFAFA

.addCriterion
  width: 85%

.removeCriterion
  margin-left: 15px
  color: rgb(189, 0, 0)
  // background #A9C700
  // border-radius 2em
  // width 2em
  // height 2em
  // margin-right 1em
  // text-align center
  // line-height 2em
  // font-weight bold
  // font-size 1.2em
