<template name="timeline_bkp">
<style>
/*body {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.col-sm-4.blocright
{
  padding: none;
}*/
</style>

<div class="wrapper" style="background-color:#F1F2F1;margin-top:40px;">
  <div class="build-title">Scénario 1</div>

<div class="wrapper-timeline" style="margin-top:20px; background-color:#F1F2F1;">
  <div class="container" style="background-color:#F1F2F1;">
    <div class="row" style="background-color:#F1F2F1;">
      <div class="col-sm-4 blocright" style="background-color:#e4e4e4;">
        <div class="row">
          <div class="wrapper_titre_timeline">
            <h1 class="text-center">Timeline</h1>
          </div>
          <div class="col-sm-6">
            <h5 style="padding-top:5px; "><u>Répartition des actions</u></h5>
          </div>
          <div class="col-sm-6">
            <select class="form-control" style="width: 100%" ng-model="Action.currentBuilding" ng-change="Action.onBuildingChange(Action.currentBuilding)" ng-options="b._id as b.name for b in Action.buildings.data">
              <option value="">Tous les Bâtiments</option>
            </select>
          </div>
        </div>
        <!-- {{> timelineDir}} -->
        <div timeline></div>
      </div>
      <div class="col-sm-7 col-sm-offset-1 blocleft blocleft" style="background-color:#e4e4e4;padding:0px;">
         <div class="wrapper_titre_timeline">
            <h1 class="text-center">Bilan</h1>
          </div>
        <div class="row">
          <form role="form" class="form-horizontal" >
                  <div class="form-group" style="margin:10px;">
                    <div id="timeline_form_typo" class="input-group" style="float:left;width:25%;">
                      <label for="portfolio" class="control-label" >Nombre d'actions</label>
                      <div >
                        <input class="form-control" value="{{ Action.overallStats.totalActions }}"  type="text" disabled>
                      </div>
                    </div>
                    <div class="input-group" style="float:left;width:25%;">
                      <label for="portfolio" class="control-label">Coût total</label>
                      <div >
                        <!-- <input class="form-control" value="{{ Action.overallStats.totalCost | currency : '€' }}" type="text" disabled> -->
                        <input class="form-control" value="" type="text" disabled>
                      </div>
                    </div>
                    <div class="input-group" style="float:left;width:25%;">
                      <label for="portfolio" class="control-label">TRI global:</label>
                      <div >
                        <!-- <input class="form-control" value="{{ Action.overallStats.totalTRI }}" type="text" disabled> -->
                        <input class="form-control" value="" type="text" disabled>
                      </div>
                    </div>
                    <div class="input-group" style="float:left;width:25%;">
                      <label for="portfolio" class="control-label">Economie d'énergie</label>
                      <div >
                        <input class="form-control" value="{{ Action.overallStats.totalEconomie }}" type="text" disabled>
                      </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- line 1 -->
        <div id="line1">
        </div>
        <!-- line 2 -->
        <div id="line2">
        </div>
        <!-- ARRAYAction -->

        <div class="row actionArray" style="margin-left:1px;" ng-class="{ actionArrayAnimate: showActionsReservoir }">
          <span class="buttonArray" ng-class="showActionsReservoir ? 'glyphicon-circle-arrow-down' : 'glyphicon-circle-arrow-up'" ng-click="showActionsReservoir = !showActionsReservoir"></span>

          <h3>Réservoir d'actions</h3>
          <div class="col-sm-6 buttonFiltre">
            <a href="javascript:;;" ng-click="Action.showPlanifiedActions = 0" class="btn btn-primary"
             ng-class="{ 'active' : Action.showPlanifiedActions === 0 }">Toutes</a>
            <a href="javascript:;;" ng-click="Action.showPlanifiedActions = 1" class="btn btn-primary"
             ng-class="{ 'active' : Action.showPlanifiedActions === 1 }">Planifiées</a>
            <a href="javascript:;;" ng-click="Action.showPlanifiedActions = -1" class="btn btn-primary"
            ng-class="{ 'active' : Action.showPlanifiedActions === -1 }">Non planifiées</a>
          </div>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Réalisation</th>
                  <th>Type d'action</th>
                  <th>Bâtiment</th>
                  <th>€</th>
                  <th>Efficacité (%)</th>
                  <th>Efficacité (kWh)</th>
                  <th>TRI</th>
                </tr>

              </thead>
              <tbody>
                <tr class="timeline-action-tr" ng-drag="true" ng-drag-data="action" ng-drag-success="onDragComplete($data,$event)" ng-repeat="action in Action.actionsFiltered">
                  <td>
                    {{action.date}}
                  </td>
                  <td>
                    {{action.name}}
                  </td>
                  <td>
                    {{ action.buildingName }}
                  </td>
                  <td>
                    {{action.cost}}
                  </td>
                  <td>
                    {{action.efficiency}}
                  </td>
                  <td>
                    {{action.efficiency}}
                  </td>
                  <td>
                    {{action.tri}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-sm-4 blocright">
        <div class="row" style="padding:5px">
          <div class="col-sm-6">
            <h5>Répartition des actions</h5>
          </div>
          <div class="col-sm-6">
            <select class="form-control" style="width: 100%" ng-model="Action.currentBuilding" ng-change="Action.onBuildingChange(Action.currentBuilding)" ng-options="b._id as b.name for b in Action.buildings.data">
              <option value="">Tous les Bâtiments</option>
            </select>
          </div>
        </div>
        <div timeline actions="{{Action.actionsFiltered}}"></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
var fillLine = function(el){
  var margin = {top: 20, right: 80, bottom: 30, left: 50},
    width = 800 - margin.left - margin.right,
    height = 260 - margin.top - margin.bottom;
var parseDate = d3.time.format("%Y%m%d").parse;
var x = d3.time.scale()
    .range([0, width]);
var y = d3.scale.linear()
    .range([height, 0]);
var color = d3.scale.category10();
var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");
var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");
var line = d3.svg.line()
    .interpolate("basis")
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.temperature); });
  var svg = d3.select(el).append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
  d3.tsv("data/lines.tsv", function(error, data) {
    color.domain(d3.keys(data[0]).filter(function(key) { return key !== "date"; }));
    data.forEach(function(d) {
      d.date = parseDate(d.date);
    });
    var cities = color.domain().map(function(name) {
      return {
        name: name,
        values: data.map(function(d) {
          return {date: d.date, temperature: +d[name]};
        })
      };
    });
    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain([
      d3.min(cities, function(c) { return d3.min(c.values, function(v) { return v.temperature; }); }),
      d3.max(cities, function(c) { return d3.max(c.values, function(v) { return v.temperature; }); })
    ]);
    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);
    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
      .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("Temperature (ºF)");
    var city = svg.selectAll(".city")
        .data(cities)
      .enter().append("g")
        .attr("class", "city");
    city.append("path")
        .attr("class", "line")
        .attr("d", function(d) { return line(d.values); })
        .style("stroke", function(d) { return color(d.name); });
  });
};
  fillLine("#line1");
  fillLine("#line2");
</script>

</div>

</template>
