<template name="settings">
  <div class="page container">
    <h1>settings<span style="position:absolute;right:10px;top:0px;" class="btn btn-small glyphicon glyphicon-globe edit-master {{isEditingMasterCfg}}">edit master</span></h1>
    {{> quickForm collection="Configurations" id="configAutoForm" doc=getCfg template="eportfolio-horizontal" type=getType}}
  </div>

  <div class="modal fade" id="fluidformmodal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">{{getFormTitle}}</h4>
      </div>
      <div class="modal-body">
    	  {{#autoForm schema=fluidSchema doc=getFluid id="fluidAutoForm"}}
    	    {{> afQuickField name='fluid_type'}}
    	    {{> afQuickField name='fluid_provider'}}
    	    {{> afQuickField name='yearly_values' template="inline"}}
          {{> afQuickField name='global_evolution_index'}}
          <button type="submit" class="btn btn-primary submitFluid">Ok</button>
    	  {{/autoForm}}
  	  </div>
	</div>
</div>
</template>
