@import 'client/stylesheets/colors.import.styl'

.navbar-brand
  padding: 5px 0

#nav-search.input-group
  box-sizing border-box
  border 1px colorD solid
  border-radius 3px
  height 1em
  input, button
    border 1px colorD solid
  input
    padding-left .5em
  button
    background-color colorD
